.IconItem {
    color: #cad2c5;
    cursor: pointer;
    padding-top: 5px;
    position: relative;
    border-top: 2px solid transparent;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.IconItem.active {
  color: #59c3c3;
  cursor: pointer;
  border-top: 2px solid #59c3c3;
}

.IconItem:after {
    content: "";
    display: block;
    border: 8px solid transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: -16px;
    left: 50%;
    margin-left: -8px;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.IconItem.active::after {
    content: "";
    display: block;
    border: 8px solid transparent;
    border-bottom-color: #59c3c3;
    position: absolute;
    top: -16px;
    left: 50%;
    margin-left: -8px;
  }